# Mantener Python como el lenguaje detectable principal
*.py linguist-detectable=true

# Tratar los archivos HTML como documentación/vistas secundarias 
# Esto los deja visibles en el desglose pero le da prioridad a Python en la tarjeta
*.html linguist-documentation=true